---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Paquetes MQ" id="compatibility">
  <Fragment slot="lead">
    Cada evento es único, <span class="text-primary">el tuyo también</span>. Descubre el paquete ideal{" "}
    <span class="text-primary">para tu celebración</span> y sorprende{" "}
    <span class="text-primary">a tus invitados</span>.
  </Fragment>

  <CompatibilityList title="Paquetes disponibles" />
</ContentSection>

