---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Decoracion de Espacio",
    description:
      "Transformamos cualquier lugar en el escenario ideal. Diseñamos ambientes con iluminación, mobiliario y detalles que reflejan tu estilo único.",
    icon: "mdi:flower-tulip",
  },
  {
    title: "Maestros de Ceremonia",
    description:
      "Garantizamos que tu evento fluya sin contratiempos. Nuestros MCs profesionales dirigen y animan cada momento con elegancia y carisma.",
    icon: "mdi:account-tie",
  },
  {
    title: "Decoración en telas y flores",
    description:
      "Creamos atmósferas mágicas. Combinamos la delicadeza de las flores naturales con la caída elegante de las telas para un impacto visual inolvidable.",
    icon: "mdi:curtains",
  },
  {
    title: "Catering",
    description:
      "Deleita a tus invitados con una experiencia gastronómica de alta calidad. Ofrecemos menús personalizados que combinan sabor y presentación.",
    icon: "mdi:silverware-fork-knife",
  },
  {
    title: "Música y Animación",
    description:
      "Ofrecemos DJs, bandas en vivo y equipos de sonido de última generación para crear el ambiente festivo perfecto y mantener a todos bailando.",
    icon: "mdi:music-box-multiple",
  },
  {
    title: "Fotografía y Video",
    description:
      "Capturamos cada instante inolvidable con profesionales que aseguran recuerdos de alta calidad. Sesiones fotográficas y cobertura de video completa.",
    icon: "mdi:camera-party-mode",
  },
];
---

<ContentSection title="MQ" id="features">
  <Fragment slot="lead">
    Haz de tu celebración un momento inolvidable <span class="text-primary">con nuestro servicio de recepciones y eventos.</span> Cuidamos cada detalle con elegancia
    <span class="text-primary">y pasión para brindarte una experiencia</span>
    única que todos <span class="text-primary">recordarán</span>.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="size-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} class="size-full" />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
