---
import { getCollection } from "astro:content";
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";

const featuredSites = await getCollection(
  "showcase",
  ({ data }) => "featured" in data,
);
const orderedSites = featuredSites.sort(
  (a, b) => a.data.featured! - b.data.featured!,
);
---

<ContentSection title="Fotos" id="showcase">
  <Fragment slot="lead">
    ¡Transforma <span class="text-primary">tus ideas</span>,{" "}
    <span class="text-primary">en momentos</span> inolvidables!{" "}
    <span class="text-primary">Solicita tu presupuesto sin compromiso</span>.
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {orderedSites.map((site) => <ShowcaseCard site={site} />)}
    </div>
    <p class="text-right text-sm">
      <a class="text-primary" href="https://www.facebook.com/profile.php?id=61578899654174&sk=photos">
        ...ver más &rarr;
      </a>
    </p>
  </div>
</ContentSection>
